.details-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.event-details-title {
  margin-bottom: 1rem;
}

.event-details-date {
  margin-bottom: 3rem;
}

.event-extra-details {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 1rem;
}
